# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

1. first get the web page https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

There was an error managing chromedriver (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json)); using driver found in the cache

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [5]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[3]/label/i")
location.click()

In [7]:
salary = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [9]:
job_title = []
title = driver.find_elements(By.XPATH,'//div[@ class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title[0:10]:
    title = i.text
    job_title.append(title)
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist (Credit Risk)',
 'Associate Data Scientist',
 'Python Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [10]:
job_location = []
location = driver.find_elements(By.XPATH,'//span[@ class="locWdth"]')
for i in location[0:10]:
    location = i.text
    job_location.append(location)
job_location

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Noida',
 'Mumbai, Gurugram',
 'Gurugram',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Gurugram']

In [11]:
company_name = []
company = driver.find_elements(By.XPATH,'//div[@ class=" row2"]/span/a[1]')
for i in company[0:10]:
    company = i.text
    company_name.append(company)
company_name

['Essenware',
 'Ericsson',
 'PayU',
 'Orange Business Services',
 'Wizaltia Hr Solutions',
 'Scienaptic Systems',
 'Digital Glyde',
 'Elitefit.ai',
 'Kashsam Data Solutions',
 'Orange Business Services']

In [12]:
experience_required = []
experience = driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience[0:10]:
    experience = i.text
    experience_required.append(experience)
experience_required

['2-5 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-5 Yrs']

In [14]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_Name':company_name, 'Experience':experience_required})
df

,Title,Location,Company_Name,Experience
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
1,Data Scientist,Noida,Ericsson,3-7 Yrs
2,Data Scientist (Credit Risk),"Mumbai, Gurugram",PayU,2-6 Yrs
3,Associate Data Scientist,Gurugram,Orange Business Services,1-5 Yrs
4,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs
7,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Elitefit.ai,3-7 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions,3-7 Yrs
9,Data Scientist,Gurugram,Orange Business Services,3-5 Yrs

# Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [23]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [27]:
driver = webdriver.Chrome()

In [28]:
driver.get('https://www.shine.com/')

In [31]:
designation = driver.find_element(By.XPATH,'//input[@ class="form-control  "][1]')
designation.send_keys('Data Analyst')

In [32]:
location = driver.find_element(By.XPATH,'//li[@ class="searchForm_search_item__hr6Du form-group"]/div/input[1]')
location.send_keys('Bangalore')

In [34]:
search = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [35]:
job_titles = []
title = driver.find_elements(By.XPATH,'//strong [@ class="jobCard_pReplaceH2__xWmHg"]')
for i in title[0:10]:
    title = i.text
    job_titles.append(title)
job_titles

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Lead Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Clinical Data Analyst',
 'Clinical Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Data Analyst (Need Immediate Joiner)',
 'Data Analyst (Need Immediate Joiner)']

In [36]:
job_locations = []
location = driver.find_elements(By.XPATH,'//div[@ class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location[0:10]:
    location = i.text
    job_locations.append(location)
job_locations

['Bangalore\n+8',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore\n+18',
 'Bangalore\n+6',
 'Bangalore\n+6',
 'Bangalore\n+7',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+9']

In [37]:
company_names = []
company = driver.find_elements(By.XPATH,'//div [@class="jobCard_jobCard_cName__mYnow"]')
for i in company[0:10]:
    company = i.text
    company_names.append(company)
company_names

['appsoft solutions',
 'mackenzie modern it solutions priva...',
 'vision india services private limit...',
 'neo impex stainless private limited',
 'techno endura',
 'techno endura',
 'mackenzie modern it solutions priva...',
 'valenta bpo solutions pvt. ltd.',
 'r.s textile',
 'r.s textile']

In [39]:
experience_required1 = []
experience = driver.find_elements(By.XPATH,'//div[@ class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience[0:10]:
    experience = i.text
    experience_required1.append(experience)
experience_required1

['0 to 4 Yrs',
 '5 to 9 Yrs',
 '2 to 4 Yrs',
 '9 to 14 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '5 to 9 Yrs',
 '4 to 5 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs']

In [40]:
df = pd.DataFrame({'Title':job_titles, 'Location':job_locations, 'Company_Name':company_names, 'Experience':experience_required})
df

,Title,Location,Company_Name,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Lead Data Analyst,Bangalore\n+8,mackenzie modern it solutions priva...,5 to 9 Yrs
2,Data Analyst,Bangalore,vision india services private limit...,2 to 4 Yrs
3,Data Analyst,Bangalore\n+18,neo impex stainless private limited,9 to 14 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
6,Lead Data Analyst,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 9 Yrs
7,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
8,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
9,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [64]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [138]:
driver = webdriver.Chrome()

In [139]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

1st page Data

In [140]:
#This code is for rating
Rating = []
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)
Rating

#This code is for review summary
Summary = []
summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)
Summary

#This code is for full_review
Full_review = []
review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)
Full_review

['Photos super',
 'Good Camera',
 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Value for money üòç',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Perfect Product!!',
 'Very very good',
 'This is amazing at all',
 'It‚Äôs really awesome',
 'Superüî• and good performance üëå‚ù§Ô∏è']

In [141]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()

2nd page Data

In [142]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)
Rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [143]:
summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)
Summary

['Perfect product!',
 'Best in the market!',
 'Classy product',
 'Terrific purchase',
 'Worth every penny',
 'Just wow!',
 'Terrific',
 'Wonderful',
 'Must buy!',
 'Fabulous!',
 'Awesome',
 'Terrific purchase',
 'Fabulous!',
 'Super!',
 'Perfect product!',
 'Highly recommended',
 'Brilliant',
 'Must buy!',
 'Best in the market!',
 'Simply awesome']

In [144]:
review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)
Full_review

['Photos super',
 'Good Camera',
 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Value for money üòç',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Perfect Product!!',
 'Very very good',
 'This is amazing at all',
 'It‚Äôs really awesome',
 'Superüî• and good performance üëå‚ù§Ô∏è',
 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE',
 'Value for money üñ§üñ§',
 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà',
 'Good product üëåI love iPhone',
 'V Good all',
 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...',
 'Excellent Phone.',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Superbb performance n camera is awesome üòçüòç',
 'Really satisfied with the Product I received... It‚Äôs totally genuine and the packaging was also really good so if ur planning to buy just go for it.']

In [145]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

3rd page Data

In [146]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [147]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

30
30
30

In [148]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

4th page Data

In [149]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [150]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

40
40
40

In [151]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

5th page Data

In [152]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [153]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

50
50
50

In [154]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

6th page Data

In [155]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [156]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

60
60
60

In [157]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

7th page Data

In [158]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [159]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

70
70
70

In [160]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

8th page Data

In [161]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [162]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

80
80
80

In [163]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

9th page Data

In [164]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [165]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

90
90
90

In [166]:
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next_button.click()

10th page Data

In [167]:
rating = driver.find_elements(By.XPATH, '//div[@ class="XQDdHH Ga3i8K"]')
for i in rating:
    rating = i.text
    Rating.append(rating)


summary = driver.find_elements(By.XPATH, '//p[@ class="z9E0IG"]')
for i in summary:
    summary = i.text
    Summary.append(summary)

review = driver.find_elements(By.XPATH, '//div [@ class="ZmyHeo"]')
for i in review:
    review = i.text
    Full_review.append(review)

In [168]:
print(len(Rating))
print(len(Summary))
print(len(Full_review))

100
100
100

In [169]:
df = pd.DataFrame({'Rating':Rating, 'Summary':Summary, 'Full_Review':Full_review})
df

,Rating,Summary,Full_Review
0,5,Perfect product!,Photos super
1,5,Best in the market!,Good Camera
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Terrific purchase,Value for money üòç
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Brilliant,Best phone
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Must buy!,My dream is complete just mind-blowing phone c...
98,5,Perfect product!,Very nice iPhone 11 i lake
99,5,Brilliant,Fantastic phone

# Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for ‚Äúsneakers‚Äù inthe search

1. Brand
2. ProductDescription
3. Price

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [44]:
driver = webdriver.Chrome()

In [45]:
driver.get('https://www.flipkart.com/')

In [46]:
brand = []
product_desc = []
price_ = []

In [47]:
search_field = driver.find_element(By.CLASS_NAME,'Pke_EE')
search_field.send_keys("sneakers")

In [48]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [49]:
for i in range(3):
    brand_name = driver.find_elements(By.CLASS_NAME,"syl9yP")
    pro_name = driver.find_elements(By.XPATH,'//a [@ class="WKTcLC"]')
    price =driver.find_elements(By.XPATH,'//div [@ class="Nx9bqj"]')
    
    for j  in brand_name:
        brand.append(j.text)
    brand[:100]    
    
    
    for k in pro_name:
        product_desc.append(k.text)
    product_desc[:100] 
    
    
    for l in price:
        price_.append(l.text)
    price[:100]

In [50]:
print(len(brand[:100]), len(product_desc[:100]), len(price_[:100]))

100 96 100

# Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon.

Then set CPU
Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [51]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [84]:
driver = webdriver.Chrome()

In [85]:
driver.get('https://www.amazon.in/')

In [86]:
search = driver.find_element(By.XPATH,'//input [@ type="text"]')
search.send_keys('Laptop')

In [87]:
search_button = driver.find_element(By.XPATH,'//input [@ id="nav-search-submit-button"]')
search_button.click()

In [89]:
i7_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[20]/span/span[11]/li/span/a/div/label/i')
i7_filter.click()

In [90]:
title = []
rating = []
price = []

In [91]:
title_ = driver.find_elements(By.XPATH,'//a[@ class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in title_:
    title.append(i.text)
title[:10]

['Acer Aspire Lite 12th Gen Intel Core i7-1255U Premium Metal Laptop (Windows 11 Home/16 GB RAM/512 GB SSD) AL15-52, 39.62cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 Kg',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inch (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/1Yr ADP Free/3months Game Pass/Arctic Grey/1.63Kg), 82RK011EIN',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel Iris Xe Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver,14-dv2015TU',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'ASUS [Smartchoice] Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS(Upto 8000 Bank Discount)',
 'Acer Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53',
 'Dell Inspiron 7420 2in1 Laptop, Intel Core i7-1255U Processor/16GB/512GB/14.0" (35.56cm) FHD+ WVA Touch 250 nits, Active Pen/Win 11 + MSO\'21, 15 Month McAfee/Backlit KB + FPR/Platinum Silver, 1.57kg',
 'Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16" (40.6cm) 2.5K IPS 350Nits Laptop (16GB/1TB SSD/Win 11/Office 2021/Backlit KB/FHD 1080p +IR Camera/Alexa/3 Month Game Pass/Cloud Grey/1.9Kg), 82XF0078IN',
 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop (15.6 Inch, Graphite, 1.58 Kg, with MS Office)']

In [92]:
rating_ = driver.find_elements(By.XPATH,'//div [@ class="a-row a-size-small"]')
for i in rating_:
    rating.append(i.text)
rating[:10]

['403', '120', '506', '705', '62', '259', '38', '77', '20', '113']

In [93]:
price_ = driver.find_elements(By.CLASS_NAME,'a-price-whole')
for i in price_:
    price.append(i.text)
price[:10]

['61,990',
 '49,800',
 '52,999',
 '49,990',
 '62,933',
 '78,990',
 '62,990',
 '61,990',
 '47,990',
 '77,490']

In [95]:
df = pd.DataFrame({'Title':title[:10], 'Rating':rating[:10], 'Price':price[:10]})
df

                                               Title Rating   Price
0  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    403  61,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    120  49,800
2  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...    506  52,999
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    705  49,990
4  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...     62  62,933
5  ASUS [Smartchoice] Vivobook 15, Intel Core i7-...    259  78,990
6  Acer Travelmate Business Laptop Intel Core i7-...     38  62,990
7  Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...     77  61,990
8  Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16"...     20  47,990
9  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...    113  77,490

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.

The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [96]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [106]:
driver = webdriver.Chrome()

In [107]:
driver.get('https://www.azquotes.com/')

In [108]:
top_quotes = driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
top_quotes.click()

In [109]:
quote = []
author = []
type_quo = []

In [110]:
for i in range(10):
    quote_ = driver.find_elements(By.XPATH,'//div [@class="wrap-block"]/p')
    for i in quote_:
        quote.append(i.text)
    quote[:1000]

In [111]:
len(quote)

1000

In [112]:
for i in range(10):
    author_ = driver.find_elements(By.XPATH, '//div [@class="author"]')
    for i in author_:
        author.append(i.text)
    author[:1000]

In [113]:
len(author)

1000

In [114]:
for i in range(10):
    type_quo_ = driver.find_elements(By.XPATH, '//div [@class="tags"]')
    for i in type_quo_:
        type_quo.append(i.text)
    type_quo[:1000]

In [115]:
len(type_quo)

1000

In [116]:
df = pd.DataFrame({'Quote':quote[:1000], 'Author':author[:1000], ' Type Of Quotes':type_quo[:1000]})
df

,Quote,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [139]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [119]:
driver = webdriver.Chrome()

In [120]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1')

In [140]:
wait = WebDriverWait(driver, 10)
table = wait.until(EC.presence_of_element_located((By.TAG_NAME, 'table')))

# Extract the table data
rows = table.find_elements(By.TAG_NAME, 'tr')

In [127]:
names = []
born_deads = []
terms = []
remarks = []

In [141]:
for row in rows[1:]:
    cells = row.find_elements(By.TAG_NAME, 'td')
    if len(cells) == 4:
        names.append(cells[0].text.strip())
        born_deads.append(cells[1].text.strip())
        terms.append(cells[2].text.strip())
        remarks.append(cells[3].text.strip())
driver.quit()

In [142]:
df = pd.DataFrame({
    "Name": names,
    "Born-Dead": born_deads,
    "Term of Office": terms,
    "Remarks": remarks
})

In [143]:
df

Empty DataFrame
Columns: [Name, Born-Dead, Term of Office, Remarks]
Index: []

In [144]:
names

[]

# Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe.

In [162]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [163]:
driver = webdriver.Chrome()

In [164]:
driver.get('https://www.motor1.com/')

In [165]:
search = driver.find_element(By.XPATH, '//input [@class="m1-search-panel-input m1-search-form-text"]')
search.send_keys('50 most expensive cars')

In [166]:
search_button = driver.find_element(By.XPATH,'//button [@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search_button.click()

In [167]:
most_exp_button = driver.find_element(By.XPATH,'//a[@class="thumb zoom"]')
most_exp_button.click()

In [152]:
car_name = []
price = []

In [173]:
cars = driver.find_element(By.TAG_NAME, 'h3')
for i in cars:
    car_name.append(i.text)
cars

TypeError: 'WebElement' object is not iterable